.color-blue {
    color: #3a6193;
}

.color-green {
    color: green;
}

.font-weight-500 {
    font-weight: 500;
}

.logo2-size {
    height: 50px;
    width: 100px;
}

.logo1-size {
    height: 70px;
    width: 200px;
}

.logo-user-size {
    height: 40px;
    width: 40px;
}

.navbar {
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.20);
    height: 80px !important;
    width: 100%;
    position: fixed;
    z-index: 200 !important;
    background-color: white;
}

.modal-add-products {
    border-radius: 30px;
    width: 1100px !important;
    padding: 0px !important;
}

.modal-add-products-order {
    border-radius: 30px;
    width: 1100px !important;
    padding: 0px !important;
}

.modal-shadow {
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.20);
    height: 50px;
}

.modal-list {
    width: 100%;
    max-height: 330px !important;
    overflow: auto;
    padding-left: 15px !important;
    padding-bottom: 5px !important;
    margin-top: 10px;
    margin-bottom: 15px;
    z-index: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-right: 1px black solid;
}

.modal-list::-webkit-scrollbar {
    display: none;
}

.modal-list-right {
    width: 100%;
    height: 280px;
    max-height: 280px !important;
    overflow: auto;
    padding-bottom: 5px !important;
    margin-top: 10px;
    margin-bottom: 15px;
    z-index: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal-list-right::-webkit-scrollbar {
    display: none;
}

.modal-item-list {
    background-color: white;
    font-size: 15px !important;
    text-align: center;
    margin: 0px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    cursor: pointer;
}

.modal-item-list:hover {
    background-color: gray;
    color: white;
}

.modal-form-select {
    color: grey !important;
    border-bottom: 1px solid black;
    border-top: 0px solid #3a6193;
    border-right: 0px solid #3a6193;
    border-left: 0px solid #3a6193;
    font-size: 15px;
    text-align: left;
}

.modal-select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    width: 300px !important;
}

.modal-input-line {
    width: 30%;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 15px;
}

.modal-input-line:focus {
    outline: 0;
}

.modal-buttons {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border: 0.7px solid black;
    height: 30px;
    width: 110px;
}

.modal-buttons:focus {
    outline: 0;
}

.menu-vertical {
    background-color: white;
    top: 80px;
    padding-top: 20px;
    padding-left: 20px;
    width: 230px !important;
    box-shadow: 6px 0px 5px 0px rgba(0, 0, 0, 0.20);
    height: calc(100% - 80px) !important;
    position: fixed;
    z-index: 100;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}

.menu-vertical::-webkit-scrollbar {
    display: none;
}

.menu-vertical-2 {
    top: 80px;
    padding-top: 10px;
    padding-left: 10px;
    width: 100px !important;
    height: calc(100% - 80px) !important;
    position: fixed;
    z-index: 30;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 6px 0px 5px 0px rgba(0, 0, 0, 0.20);
    background-color: white;
}

.menu-right-vertical {
    top: 130px;
    padding-top: 20px;
    left: calc(100% - 180px);
    width: 200px !important;
    height: calc(100% - 150px) !important;
    position: fixed;
    z-index: 100;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (max-width:890px) {
    .menu-right-vertical {
        display: none;
    }
}

.menu-vertical-2::-webkit-scrollbar {
    display: none;
}

.button-items-menu-2 {
    background-color: white;
    border-radius: 10px;
    border: none;
    height: 90px;
    width: 90px;
    background-repeat: no-repeat !important;
    background-size: 50%;
    background-position: 100% auto;
}

.button-items-menu-2:focus {
    outline: 0;
    border: #3a6193 2px solid;
}

.img-items-menu-2 {
    min-width: 60px;
    max-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.main-container {
    top: 60px;
    width: 100% !important;
    height: calc(100%-90px);
    z-index: 1;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.width-menu {
    width: calc(100%-100px) !important;
}

.width-menu-vertical {
    width: calc(100%-250px) !important;
}

.card-table {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: #B1FFA6 !important;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.card-table:focus {
    outline: 0;
    background-color: rgb(145, 233, 240) !important;
}

.input-line {
    border: none;
    border-bottom: 1px solid black;
}

.input-line:focus {
    outline: 0;
}

.container-open-table {
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.20);
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.container-open-table-2 {
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.20);
    padding-left: 40px;
    padding-top: 20px;
}

.button-add-product {
    border: none;
    border-radius: 10px;
    background-color: #B1FFA6;
    font-weight: 700 !important;
    width: 160px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
}

.modal-card {
    width: 350px !important;
    height: auto;
    border-radius: 10px;
}

.button-modal {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: #3a6193;
    color: white;
    border: none;
    cursor: pointer;
}

.button-modal:focus {
    outline: 0;
}

.modal-sizes-order {
    width: 330px;
    padding-top: 30px !important;
}

.modal-order {
    width: 100%;
    max-height: 260px !important;
    overflow: auto;
    z-index: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 10px;
    padding-left: 10px;
}

.modal-order::-webkit-scrollbar {
    display: none;
}

.modal-total-shadow {
    box-shadow: inset 0px 5px 13px -5px rgba(0, 0, 0, 0.45);
    width: 100%;
    padding-top: 20px;
}

.button-accept-modal {
    background-color: #B1FFA6;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.button-accept-modal:focus {
    outline: 0;
}

.info-float {
    background-color: #B1FFA6;
    border-radius: 10px;
    padding: 10px;
    top: calc(100% - 67px) !important;
    position: fixed !important;
    width: 150px !important;
    left: calc(50% - 75px) !important;
}

.main-container-2 {
    padding-left: 190px;
    padding-top: 90px;
    padding-bottom: 45px;
    padding-right: 180px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search-specific-navbar {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 100% !important;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button-toggle {
    outline: 0;
    background: white !important;
    border: none;
}

.button-toggle:focus {
    outline: 0;
    background: white !important;
    border: none;
}

.logo13-size {
    height: 110px;
    width: 70px;
}

.cursor-pointer {
    cursor: pointer;
}

.padding-horizontal-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-horizontal-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-vertical-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-horizontal-5 {
    padding-right: 5px;
    padding-left: 5px;
}

.buttom-search {
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #3a6193;
    border: 1px solid #3a6193;
    font-size: 12px;
}

.buttom-search-2 {
    border-radius: 10px;
    color: grey;
    border: 1px solid grey;
    font-size: 12px;
    background-color: white;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.button-search-2:focus {
    outline: 0;
}

.form-search {
    color: grey !important;
    border-bottom: 1px solid grey;
    font-size: 18px;
}

.form-search::placeholder {
    color: grey;
}

.height-80 {
    height: 80px !important;
}

.li:active {
    z-index: 10 !important;
    -webkit-box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12) !important;
    box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12) !important;
}

.shadow-box-right {
    -webkit-box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 15px 0px 14px 0px rgba(0, 0, 0, 0.12);
}

.list-tab {
    padding: 10px 10px 10px 20px;
    margin: 10px !important;
    color: rgb(54, 54, 54);
}

.list-tab:hover {
    background-color: rgb(185, 184, 184);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.hr-tab {
    border-bottom: 1px solid rgb(54, 54, 54);
}

.form-select {
    color: grey !important;
    border-bottom: 1px solid black;
    border-top: 0px solid #3a6193;
    border-right: 0px solid #3a6193;
    border-left: 0px solid #3a6193;
    font-size: 15px;
    background-color: white;
    text-align: left;
}

.padding-horizontal-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.item-list {
    background-color: white;
    font-size: 19px !important;
    text-align: center;
    margin: 0px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.item-list:hover {
    background-color: gray;
    color: white !important;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-15 {
    font-size: 15px;
}

.background-gray {
    background-color: #e9e9e9;
}

.buttom-tel {
    border: 1px solid gray;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.buttom-tel-basket {
    background-color: #98FB98;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.button-menu {
    background-color: white;
    border: none;
    padding-right: 35px;
}

.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    width: 300px !important;
}

.dropdown-buttom {
    border: none;
    background: none;
    width: 100%;
}

.buttom-search-cat {
    border-radius: 20px;
    border: 1px black solid;
    font-size: 16px;
    padding-bottom: 1px;
    padding-left: 11px;
    padding-right: 11px;
    margin-left: 9px;
}

.img-size-1 {
    width: 45px;
    height: 45px;
}

.hr-vertical {
    border-left: 1px solid black;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.background-green-buy {
    background-color: #98FB98;
    border-radius: 5px;
}

.text-img-buy {
    color: black;
    left: 34px;
    bottom: -10px;
}

.text-img-buy-2 {
    color: black;
    left: 25px;
    top: -25px;
}

.text-ventas-logo {
    color: #3a6193;
    left: 120px;
    top: 20px;
}

.img-items-products {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.img-items-products-add-120 {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.img-items-products-add-100 {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.img-items-products-add-80 {
    min-width: 70px;
    max-width: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.img-items-products-add-90 {
    min-width: 90px;
    max-width: 90px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.card-products-add {
    width: 210px !important;
    min-width: 210px !important;
    height: 130px !important;
    border: 1px rgba(0, 0, 255, 0.37) solid;
    border-radius: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 15px !important;
    margin-right: 30px !important;
}

.like-size-card {
    height: 40px;
    width: 40px;
    left: 190px;
    top: 100px;
}

.button-discount-card {
    border-radius: 10px;
    background-color: rgb(0, 0, 102);
    color: white;
    width: 50px !important;
    text-align: center;
    bottom: 95px;
    right: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.button-card-add {
    border-radius: 10px;
    border: none;
    background-color: rgb(226, 226, 226);
    width: 60px;
    height: 20px;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-9 {
    font-size: 9px;
}

.font-size-12 {
    font-size: 12px;
}

.buttom-add {
    border-radius: 10px;
    color: rgb(15, 121, 15);
    margin-left: 10px;
}

.like-size {
    top: 70px;
    left: 70px;
    height: 70px;
    width: 70px;
}

.discount {
    background-color: black;
    color: white;
    border-radius: 10px;
    bottom: 75px;
    left: 5px;
    height: 20px;
    width: 50px;
}

.icon-close {
    background-color: #98FB98;
    font-size: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
}

.img-items-products-basket {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.discount-2 {
    background-color: black;
    color: white;
    border-radius: 20px;
    bottom: 120px;
    left: 5px;
    height: 20px;
    width: 60px;
    font-size: 14px;
}

.icon-plus-minus {
    background-color: #0e700e;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
}

.background-menus {
    z-index: 300;
    position: absolute;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

#user-button:active+.background-menus {
    display: block;
}

.show {
    display: block;
}

.style-menu-bars {
    background-color: white;
    margin-left: 90px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 20px;
}

.style-menu-users {
    background-color: white;
    margin-left: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.style-overflow-ventas {
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    max-height: 280px !important;
    overflow: auto;
    background-color: rgb(247, 247, 247);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.style-menu-information {
    background-color: white;
    margin-left: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 20px;
}

.items-menu {
    padding-top: 2px;
    padding-bottom: 2px;
}

.items-menu:hover {
    background-color: rgb(167, 238, 167);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.img-menu-size {
    height: 45px;
    width: 50px;
}

.display-none {
    display: none;
}

.width-80 {
    width: 80px !important;
}

.border-list {
    border: black;
    border: 2px solid rgb(0, 0, 0);
    border-left: 100px;
    border-right: 100px;
}

.item-list {
    background-color: white;
    font-size: 12px;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item-list:hover {
    background-color: gray;
    color: white !important;
}

.buttom-radius-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    font-size: 10px !important;
    width: 140%;
    border: 1px solid gray;
    padding-bottom: 8px;
    padding-top: 8px;
}

.buttom-radius-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    font-size: 10px !important;
    width: 140%;
    border: 1px solid gray;
    padding-bottom: 8px;
    padding-top: 8px;
}

.buttom-green {
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.lateral-menu {
    display: inline;
}

.dashboard-padding {
    padding-left: 600px;
    padding-top: 20px;
}

.productos-disable {
    width: 100%;
    display: none;
}

.button-select-img {
    background: none;
    border: none;
}

.order-status {
    width: 100%;
    max-height: 190px !important;
    overflow: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.order-status::-webkit-scrollbar {
    display: none;
}

.order-status-nav {
    width: 100%;
    height: 40px;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.20);
    z-index: 0;
    background-color: white;
    margin-top: 10px;
}

.button-status {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 5px;
    color: black !important;
}

.img-setup-size {
    height: 35px;
    width: 35px;
}

.width-300 {
    width: 300px;
}

.width-200 {
    width: 200px;
}

.width-150 {
    width: 150px;
}

.modal-process-order {
    border-radius: 15px;
    width: 400px !important;
}

.font-size-20 {
    font-size: 20px;
}

.color-yellow-star {
    color: #E69D2F;
}

.size-shopping-cart {
    height: 35px;
    width: 35px;
}

.box-green {
    background-color: #B1FFA6;
    height: 50px;
    width: 170px;
    border-radius: 5px;
}

.size-img-galery {
    width: 300px;
    height: 300px;
}

.img-related-posts {
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.info-float-galery {
    background-color: #B1FFA6;
    border-radius: 10px;
    padding: 10px;
    top: calc(100% - 67px) !important;
    left: calc(50% - 75px);
    position: fixed !important;
    width: 150px;
}

.button-data-user {
    border: none;
    background-color: white;
}

.button-data-user:focus {
    outline: none;
}

.drop-data-user {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px !important;
}

.menu-vertical-galery {
    width: 80px !important;
    height: 300px !important;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: white;
    unicode-bidi: bidi-override;
    direction: rtl;
    overflow: scroll;
    overflow-x: hidden!important;
    margin-right: 20px;
}

.menu-vertical-galery::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.menu-vertical-galery::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.menu-vertical-galery::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.menu-vertical-galery::-webkit-scrollbar-thumb:hover {
    background: #b9b9b9;
}

.menu-vertical-galery::-webkit-scrollbar-thumb:active {
    background: #b8b8b8;
}

.menu-vertical-galery::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.menu-vertical-galery::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

.menu-vertical-galery::-webkit-scrollbar-track:active {
    background: #f1f1f1;
}

.menu-vertical-galery::-webkit-scrollbar-corner {
    background: transparent;
}

.img-items-menu-scroll-galery {
    min-width: 60px;
    max-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
    cursor: pointer;
    margin-bottom: 10px !important;
    margin-right: 10px;
    margin-left: 10px;
}

.button-items-menu-scroll-galery {
    background-color: white;
    border-radius: 10px;
    border: none;
    height: 90px;
    width: 90px;
    background-repeat: no-repeat !important;
    background-size: 50%;
    background-position: 100% auto;
    padding: 0px;
    margin: 0px;
}

.button-items-menu-scroll-galery:focus {
    outline: 0;
}